{% extends 'base.html' %}

{% block title %}
Ticket Details
{% endblock %}

{% block content %}

<div class="ticket-card">

    <h1>🎫 Metro Ticket</h1>

    <hr>

    <h3>Ticket ID : {{ ticket.id }}</h3>

    <p><strong>Source Station :</strong> {{ ticket.source }}</p>

    <p><strong>Destination Station :</strong> {{ ticket.destination }}</p>

    <p><strong>Travel Date :</strong> {{ ticket.travel_date }}</p>

    <p><strong>Passengers :</strong> {{ ticket.passengers }}</p>


    <h3>QR Code</h3>

    {% if ticket.qr_code %}

        <img src="{{ ticket.qr_code.url }}" alt="QR Code" width="200">
    {% else %}
        <p>QR Code not available.</p>
    {% endif %}
    
    <br>

    <a href="{% url 'navigation' ticket.id %}">
        <button>🧭 Start Navigation</button>
    </a>

    <button>🏠 Home</button>

</div>

{% endblock %}